# except subfolders and files with an extension
!/**/
!*.*

.idea
node_modules
*.class
*.exe
*.iml
*.json

# custom env varialbes define in here
/safety-checkers/parse-envs.sh

# generated checksums for github secrets
/safety-checkers/checksums.sha256
