name: CI
on:
  push:
    branches: [ cutover, master ]
  pull_request:
    branches: [ master ]

jobs:
  safety-checkers:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Safety checking process
        env:
          DEBUG: ${{ secrets.DEBUG }}
          HASHES: ${{ secrets.HASHES }}
        run: ./safety-checkers/validator.sh "$DEBUG" "$HASHES"

  compile-java:
    needs: [safety-checkers]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
            java-version: 1.8

      - name: compile all java classes
        run: javac $(find ./algorithms ./data-structures -name *.java)
  
  compile-c:
    needs: [safety-checkers]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
     
      - name: Install g++ libraries
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get install -y g++-9 g++-9-multilib
          echo "::set-env name=CC::gcc-9"
          echo "::set-env name=CXX::g++-9"

      - name: compile all c files
        run: for i in $(find . -type f -iname *.c); do gcc $i; done;
      - name: compile all c++ files
        run: for j in $(find . -type f -iname *.cpp); do g++ $j; done;

  compile-golang:
    needs: [safety-checkers]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.13
        id: go

      - name: compile all go files
        run: |
          f="$(find ./algorithms ./data-structures -name *.go)"
          for file in $f
          do 
            go run "${file}"
          done

  run-javascript:
    needs: [safety-checkers]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: actions/setup-node@v1
        with:
          node-version: '12'

      - name: compile all javascript files
        run: node $(find ./algorithms ./data-structures -name *.js)

  run-python3:
    needs: [safety-checkers]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Python 3.5
        uses: actions/setup-python@v2
        with:
          python-version: 3.5

      - name: run all python3 files
        run: python $(find ./algorithms ./data-structures ! -path "*/python2/*" -type f -name "*.py")

  run-python2:
    needs: [safety-checkers]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Python 2.7
        uses: actions/setup-python@v2
        with:
          python-version: 2.7

      - name: run all python2 files
        run: python $(find ./algorithms ./data-structures ! -path "*/python3/*" -type f -name "*.py")

  run-typescript:
    needs: [safety-checkers]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: actions/setup-node@v1
        with:
          node-version: '12'
      
      - name: install typescript
        run: npm install -g typescript

      - name: run all typescript files
        run: for i in $(find . -type f -iname *.ts); do tsc $i; done;
